[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyautogui = "*"
pyqt5 = "==5.12.1"
pyinstaller = "*"
opencv-python = "*"

[requires]
python_version = "3.6"
