altgraph==0.16.1
future==0.17.1
MouseInfo==0.0.4
numpy>=1.17.1
#opencv-python>=4.1.1.26
opencv-python>=4.5.5.62
pefile==2019.4.18
Pillow>=6.1.0
PyAutoGUI==0.9.47
PyGetWindow==0.0.7
PyInstaller>=3.6
PyMsgBox==1.0.7
pyperclip==1.7.0
PyQt5==5.12.3
PyQt5-sip>=4.19.18
PyRect==0.1.4
PyScreeze==0.1.22
PyTweening==1.0.3
pywin32-ctypes==0.2.0
keyboard==0.13.5